{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Signup
{% endblock %}

{% block content %}

    <div class="container">
        <form role="form"
              action="{% url 'user_signup' %}"
              method="post">
            {% csrf_token %}

            <p>Please fill in the form below to create an account.</p>

            {{ form|crispy }}

            <button type="submit" class="btn btn-light tbLink">Sign up</button>
            <br><br><br>
	        <a href="{% url 'social:begin' 'github' %}">Sign up with GitHub</a><br>
	        <a href="{% url 'social:begin' 'facebook' %}">Sign up with Facebook</a><br>
	        <a href="{% url 'social:begin' 'google-oauth2' %}">Sign up with Google</a><br>
        </form>
    </div>

{% endblock %}
