{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'update_profile' %}">

            {% csrf_token %}

            {{ form|crispy }}
            <br><button type="submit " class="btn btn-light tbLink">Update profile</button>
        </form>
        <br><a href="{% url 'user_profile' %}" class="btn btn-light tbLink">Return to your profile</a>
    </div>
{% endblock %}