{% load staticfiles %}
{% include 'head.html' %}

  <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
  <title>Park'R - Change password</title>
</head>
<body>
  {% include 'nav.html' %}

  {% block content %}
  <center>
  <form method="post" class="post-form">{% csrf_token %}
    <h1>Change password</h1>
    <br>
    {{ form.as_p }}
    <button type="submit" class="btnMain">Submit</button>
  </form>
  </center>
  {% endblock %}

  <script>
    $('label').hide();
    $('#id_new_password1').attr("placeholder","enter a new password");
    $('#id_new_password2').attr("placeholder","confirm your new password");
  </script>
</body>
</html>
