{% load staticfiles %}
{% include 'head.html' %}

  <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}">
</head>
<body>

{% include 'nav.html' %}

{% block content %}
  <center>
    <form method="POST" class="post-form">{% csrf_token %}
      <h1>New post</h1>
      <br>
      {{ form.as_p }}
      <button type="submit" class="save btn btn-default">Save</button>
    </form>
  </center>
{% endblock %}

<script>
  $('#id_lat').removeAttr("value");
  $('#id_lng').removeAttr("value");
  $('#id_note').removeAttr("value");
  $('label').hide();
</script>
