{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, {{ request.user.username }}</h1>
            <p>View your reserved spaces:</p>
            {% if reserved_spaces %}
                <div class="list-group">
                    {% for r in reserved_spaces reversed %}
                        <li class="list-group-item">
                            <button type="button" class="btn btn-primary" style="float:right; margin-left:5px;" data-toggle="modal" data-target="#exampleModal">
                              Report this space
                            </button>
                            <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#{{r.id}}">
                              Delete this reservation
                            </button>
                            <a href="{% url 'reservation_info' id=r.reserved_space.id %}">{{ r.reserved_space.note }}</a><br>
                            <b>Reservation window:</b> {{r.start_time}} - {{r.end_time}} <br>
                            <b>Owner:</b> <a href="{% url 'user_show' id=r.reserved_space.owner.id %}">{{r.reserved_space.owner}}</a><br>
                            <b>Reserved on:</b> {{r.processed_time}} UTC<br>
                        </li>

                        <div class="modal fade" id="{{r.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Delete your reservation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this reservation?
                              </div>
                              <div class="modal-footer">
                                <a href="{% url 'delete_reservation' id=r.id %}" class="btn btn-primary">Delete</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <p>You have no spaces reserved.</p>
            {% endif %}
            <a href="{% url 'user_show' id=user.id %}" class="tbLink">View my profile</a>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Report this space</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to report this space?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#reportModal">Report</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Thank you</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your report has been submitted.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}