{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="container">

            <a input type="hidden" value="{{id}}" id="spot_id"></a>
            <p>Start date: <input type="date" id="datepicker1"></p>
            <p>End date: <input type="date" id="datepicker2"></p>
            <button type="submit" class="tbLink">Reserve this parking space</button>
        <button id="customButton">Purchase</button>
        <br><a href="{% url 'parkr_home' %}" class="tbLink">Return to home</a>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
<!--
    <script>
    $( function() {
    $( "#datepicker1" ).datepicker();
    } );

    $( function() {
    $( "#datepicker2" ).datepicker();
    } );
    $.datepicker.formatDate( "yy-mm-dd", new Date( 2007, 1 - 1, 26 ) );
-->
    </script>
<script>
    var handler = StripeCheckout.configure({
      key: 'pk_test_MKfo1zMYDA0i0ITx5kjkAcwK',
      image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
      locale: 'auto',
      token: function(token) {
        $.ajax({
          url: "{% url 'process' %}",
          type: 'post',
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            stripeToken: token.id,
            end_time:$("#datepicker2").val(),
            start_time:$("#datepicker1").val(),
            spot_id:{{id}},
          },
          dataType: 'json',
          success: function() { console.log("hell yeah") },
        });
      }
    });

    document.getElementById('customButton').addEventListener('click', function(e) {
      // Open Checkout with further options:
      handler.open({
        name: 'Demo Site',
        description: '2 widgets',
        amount: 2000
      });
      e.preventDefault();

    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
 </script>

{% endblock %}
