

/* ==========================================================================
   Author's custom styles
========================================================================== */
body {
    padding-top: 70px;
    padding-bottom: 20px;
    transition: 0.5s
}

#titleBox {
    padding-top: 40px;
    width: 100%;
    margin-top: -20px;
    left: 0;
    height: 200px;
    background: #bc3838;
    color: white;
    text-align: center;
}

#map {
    margin-top: 175px;
    width: 90%;
    margin: 0 auto;
    height: 600px;
}

#find input, #find input:focus {
    padding: 5px;
    border: none;
    outline: none;
    -moz-box-shadow: 0 0 3px #888;
    -webkit-box-shadow: 0 0 3px#888;
    box-shadow: 0 0 3px #888;
}

.tbLink {
    background:#fff;
    color: #591818;
    border: 2px solid #591818;
    letter-spacing: 2px;
    margin: 2px;
}

.tbLink:hover {
    background: #591818;
    color: #fff;
    text-decoration: none;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}

#findParkingSpaceHeader {
    text-align:center;
    margin-bottom: 20px;
}

.sidenav {
    margin-top: 51px;
    height: 100%;
    width: 0;
    position: fixed;
    //z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.chasebox {
    background: #f2f2f2;
    margin: 20px 60px;
    padding: 20px;
    border-radius: 6px;
    font-size: 22px;
}

#date-error {
    font-size: 18px;
    display: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}