{% block extra_js %}
{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Park'R</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


            <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
            <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
    </head>
    <body id="main">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Park'R</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://weareparkr.wordpress.com/" target="_blank">About</a></li>
                    <li><a href="https://weareparkr.wordpress.com/contact/" target="_blank">Contact</a></li>
                  {% if user.is_authenticated %}
                    <li><a href="javascript:void(0);">
                      <span class="glyphicon glyphicon-user"
                        onClick="openNav()"></span>
                    </a></li>
                  {% else %}
                    <li><a href="{% url 'user_signup' %}" style="padding:9px 8px;">
                      <div style="padding:6px 7px;border:1px solid #333333;border-radius:4px;">Sign Up</div></a></li>
                    <li><a href="{% url 'user_login' %}">
                      <span class="glyphicon glyphicon-log-in"
                        ></span>
                    </a></li>
                  {% endif %}
                </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </nav>

        {% if user.is_authenticated %}
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn"
              onclick="closeNav()">&times;</a>
            <a href="{% url 'user_profile' %}">Profile</a>
            <a href="/dialogs">Messenger</a>
            <a href="{% url 'user_logout' %}">Logout</a>
          </div>
        {% endif %}



        {% block content %}
        {% endblock %}


        {% block script %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>

        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'js/main.js' %}"></script>
        <script>
        function openNav()
        {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginRight = "250px";
        }

        function closeNav()
        {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginRight = "0";
        }
        </script>
        {% endblock %}

    </body>
</html>
{% endblock extra_js %}
