{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <div class="container">
        <form method="post" action="{% url 'new_space' %}">
            {% csrf_token %}

            {{ form|crispy }}
            <button type="submit " class="btn btn-light tbLink">List this parking space</button>
        </form>
        <br><button href="{% url 'user_profile' %}" class="btn btn-light tbLink">Return to profile</button>
    </div>
{% endblock %}